body{
  font-family: monospace;
  background-color: #ff6666;
}
h1{
  text-align: center;
}
#pictureDiv{
  text-align: left;
  display: inline-block;

}
#infoDiv{
  text-align: right;
  display: inline-block;
  width: 60%;
}
#contactDiv{
  text-align: center;
}
